<div class="tweet">
  <div class="tweet-header">
    <strong>User: @<%= tweet_data[:tweet].user.username %></strong>
  </div>
  <div class="tweet-content">
    <p> content: <%= tweet_data[:tweet].content %></p>
      <!-- Estadísticas del tweet -->
    <div class="tweet-stats">
      <p>Retweets: <%= tweet_data[:stats][:retweets] %></p>
      <p>Quotes: <%= tweet_data[:stats][:quotes] %></p>
      <p>Likes: <%= tweet_data[:stats][:likes] %></p>
      <p>Bookmarks: <%= tweet_data[:stats][:bookmarks] %></p>
    </div>

    
  </div>
  <div class="tweet-footer">
    <div class="text-muted"><small> Posted: <%= l tweet_data[:tweet].created_at%></small></div>  
    <%# <span>Posted: <%= tweet_data[:tweet].created_at.strftime('%Y-%m-%d %H:%M:%S') %></span> <br >
  </div>
 
</div>
