<%= content_for :notices do%>
  <p style="color: green"><%= notice %></p>
<% end %>

<% if user_signed_in? %>
    <p>Welcome <%= current_user.username %></p>
    <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
    <%= link_to "New tweet", new_web_tweet_path %>
    <%= link_to "Profile", web_current_user_profile_path %>

    <h1>Tweets</h1>
    <%= render partial: 'web/tweets/tweet', collection: @tweets_with_stats, as: :tweet_data %>

    <% # Si la página es mayor que 0, muestra el enlace 'Previous' %>
    <% if @current_page > 0 %>
      <%= link_to 'Previous', web_tweets_path(page: @current_page - 1), id: 'load-prev', remote: true %>
    <% end %>

    <% # Si hay más páginas, muestra el enlace 'Next' %>
    <% if @more_pages %>
      <%= link_to 'Next', web_tweets_path(page: @current_page + 1), id: 'load-more', remote: true %>
    <% end %>

<% end %>
