<h1><%= user.name %> <%= user.lastname %></h1>g
<p><strong>Username:</strong> <%= user.username %></p>
<p><strong>Email:</strong> <%= user.email %></p>
<p><strong>Date Joined:</strong> <%= user.created_at.strftime('%B %d, %Y') %></p>