<p style="color: green"><%= notice %></p>

<h1>User: <%= @user.username %></h1>
<p>Email: <%= @user.email %></p>
<p>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to all users", users_path %>
</p>